<mat-accordion multi="true" hideToggle>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular Fundamental
            </mat-panel-title>
            <mat-panel-description>
                Total Duration : 3Hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            This is the panel content. Add course detail
        </p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular Material
            </mat-panel-title>
            <mat-panel-description>
                Total Duration : 2Hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            This is the panel content. Add course detail
        </p>
        <mat-action-row>
            <button mat-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
