

<button mat-raised-button routerLink='typography'>Typegraphy</button>
<button mat-raised-button routerLink='button'>Buttons</button>
<button mat-raised-button routerLink='icon'>Icon</button>
<button mat-raised-button routerLink='badges'>Badges</button>
<button mat-raised-button routerLink='spinner'>Spinner</button>
<button mat-raised-button routerLink='toolbar'>Toolbar</button>
<button mat-raised-button routerLink='sidenav'>Sidenav</button>
<button mat-raised-button routerLink='menu'>Menu</button>
<button mat-raised-button routerLink='list'>List</button>
<button mat-raised-button routerLink='grid'>Grid</button>
<button mat-raised-button routerLink='panel'>Panel</button>
<button mat-raised-button routerLink='cards'>Cards</button>
<button mat-raised-button routerLink='tabs'>Tabs</button>
<button mat-raised-button routerLink='stepper'>Stepper</button>
<button mat-raised-button routerLink='input'>Form fields</button>
<button mat-raised-button routerLink='autocomplete'>AutoComplete</button>
<button mat-raised-button routerLink='datepicker'>Datepicker</button>
<button mat-raised-button routerLink='tooltip'>Tooltip</button>
<button mat-raised-button routerLink='snack'>Snackbar</button>
<button mat-raised-button routerLink='dialog'>Dialog</button>
<button mat-raised-button routerLink='datatable'>Datatable</button>
<button mat-raised-button routerLink='virtual-scrolling'>Virtual Scrolling</button>
<button mat-raised-button routerLink='crud-list'>Crud List</button>

<router-outlet></router-outlet>
