<mat-grid-list cols="8" rowHeight="50px" gutterSize="10px">
    <mat-grid-tile rowspan="2" colspan="2">Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
    <mat-grid-tile>Tile 5</mat-grid-tile>
    <mat-grid-tile>Tile 6</mat-grid-tile>
    <mat-grid-tile>Tile 7</mat-grid-tile>
    <mat-grid-tile>Tile 8</mat-grid-tile>
    <mat-grid-tile>Tile 9</mat-grid-tile>
    <mat-grid-tile>Tile 10</mat-grid-tile>
    <mat-grid-tile>Tile 11</mat-grid-tile>
    <mat-grid-tile>Tile 12</mat-grid-tile>
    <mat-grid-tile>Tile 13</mat-grid-tile>
    <mat-grid-tile>Tile 14</mat-grid-tile>
    <mat-grid-tile>Tile 15</mat-grid-tile>
    <mat-grid-tile>Tile 16</mat-grid-tile>
</mat-grid-list>